@page
@model ErrorModel
@{
    ViewData["Title"] = "Lỗi";
}

<h1 class="text-danger">Đã xảy ra lỗi.</h1>
<h2 class="text-danger">Hệ thống không xử lý được yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Mã yêu cầu:</strong> <code>@Model.RequestId</code>
    </p>
}
